<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12">
        <!-- Left Side -->
        <div class="card card-w-title">
            <h1>Aplication Data</h1>
            <div class="ui-g">
                <p-tabView>
                    <p-tabPanel header="General Setting" leftIcon="pi pi-calendar" tooltip="General Setting">
                        <h1>General Setting</h1>
                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-3">
                                Company Type
                            </div>
                            <div class="ui-g-4">
                                <p-dropdown [options]="companyType_gnrl" [(ngModel)]="selectedCompany_gnrl"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-3">
                                Customer Type
                            </div>
                            <div class="ui-g-4">
                                <p-dropdown [options]="customerType_gnrl" [(ngModel)]="selectedCustomer_gnrl"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-3">
                                Business Activities
                            </div>
                            <div class="ui-g-4">
                                <p-dropdown [options]="buisinessAct_gnrl" [(ngModel)]="selectedBuisness_gnrl"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-3">
                                Financing Type
                            </div>
                            <div class="ui-g-4">
                                <p-dropdown [options]="financingType_gnrl" [(ngModel)]="selectedFinancing_gnrl"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-3">
                                Order Type
                            </div>
                            <div class="ui-g-4">
                                <p-dropdown [options]="orderType_gnrl" [(ngModel)]="selectedorde_gnrl"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Personal Information" rightIcon="pi pi-inbox" tooltip="Personal Information">
                        <h1>Personal Information</h1>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Salutation
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Full Name
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Alias Name
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Birth Place
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="birthPlace_prsnlInf" [(ngModel)]="selectedBrithPlc_prsnlInf"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Birth Date
                            </div>
                            <div class="ui-g-6">
                                <p-calendar [(ngModel)]="dateBritDate"></p-calendar>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Mother Name
                                </div>
                                <div class="ui-g-6 row">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Phone Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text"/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Email
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text"/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Gander
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="gender_prsnlInf" [(ngModel)]="selectedGender_prsnlInf"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Marital Status
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="maritalSts_prsnlInf" [(ngModel)]="selectedmaritalSts_prsnlInf"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Religion
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="religion_prsnlInf" [(ngModel)]="selectedReligion_prsnlInf"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <br><br><br>
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <div class="ui-grid-row">
                                <h1>Working Information</h1>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Occupation
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Sub Occupation
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Company Name
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Length Of Work
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Employment Status
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="employmentSts_wrkng" [(ngModel)]="selectedemploy_wrkng"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Start Date
                                </div>
                                <div class="ui-g-6">
                                    <p-calendar [(ngModel)]="startDate"></p-calendar>
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                End Date
                            </div>
                            <div class="ui-g-6">
                                <p-calendar [(ngModel)]="endDate_1"></p-calendar>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6" style="margin-bottom: 30px;">
                            <div class="ui-g-4">
                                I am Still Working Her:
                            </div>
                            <div class="ui-g-3">
                                <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
                            </div>
                        </div>

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
                            <div class="ui-grid-row">
                                <h1>Address Information</h1>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Address Type
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="addrsType_addrsInfo" [(ngModel)]="selectedaddrs_addrsInfo"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Address
                                </div>
                                <div class="ui-g-6">
                                    <textarea pInputTextarea type="text"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Hamlet Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text"/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Neighbour Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text"/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Province
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="province_addrsInfo" [(ngModel)]="selectedProv_addrsInfo"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                City
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="city_addrsInfo" [(ngModel)]="selectedcity_addrsInfo"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                District
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="district_addrsInfo" [(ngModel)]="selectedDistrict_addrsInfo"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Sub District
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="subDistrict_addrsInfo" [(ngModel)]="selectedSubDis_addrsInfo"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6" style="margin-bottom: 30px;">
                            <div class="ui-g-4">
                                Zipcode
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="zipcode_addrsInfo" [(ngModel)]="selectedZipcode_addrsInfo"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
                            <div class="ui-grid-row">
                                <h1>Family Information</h1>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Salutation
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Full Name
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Alias Name
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Birth Place
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="birthPlace_prsnlInf" [(ngModel)]="selectedbrithPlc_fam"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Birth Date
                            </div>
                            <div class="ui-g-6">
                                <p-calendar [(ngModel)]="birthDate_fam"></p-calendar>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Phone Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text"/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Email
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text"/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Gander
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="gender_prsnlInf" [(ngModel)]="selectedGender_fam"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6" style="margin-bottom: 30px;">
                            <div class="ui-g-4">
                                Identity Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text"/>
                            </div>
                        </div>

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
                            <div class="ui-grid-row">
                                <h1>Income Information</h1>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Income Type
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="incomeInfo_incmInf" [(ngModel)]="selectedincomeInf_incmInf"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6" style="margin-bottom: 30px;">
                            <div class="ui-g-4">
                                Amount Per Moth
                            </div>
                            <div class="ui-g-6">
                                <input pInputText="" type="number"/>
                            </div>
                        </div>

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
                            <div class="ui-grid-row">
                                <h1>Education Information</h1>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Education Type
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="education_eduInf" [(ngModel)]="selectedEdu_eduInf"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Institute Name
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText="" type="number"/>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Major
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="major_eduInf" [(ngModel)]="selectedMajor_eduInf"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Start Date
                            </div>
                            <div class="ui-g-6">
                                <p-calendar [(ngModel)]="startDate_edu"></p-calendar>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6" style="margin-bottom: 50px;">
                            <div class="ui-g-4">
                                End Date
                            </div>
                            <div class="ui-g-6">
                                <p-calendar [(ngModel)]="endDate_edu"></p-calendar>
                            </div>
                        </div>
                    </p-tabPanel>

                    <p-tabPanel header="Object & Insurance" rightIcon="pi pi-inbox"
                                tooltip="Object & Insurance Information">
                        <h1>Object Information</h1>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Business Unit
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Objec Category
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
                            <div class="ui-grid-row">
                                <h1>Automotive</h1>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Dealer
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Brand
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Type
                                </div>
                                <div class="ui-g-6 row">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Model
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Manufacturing Date
                                </div>
                                <div class="ui-g-6">
                                    <p-calendar [(ngModel)]="manufacDate"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Chassis Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Machine Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Colour
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text">
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Ownership Certificate Number
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text">
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Price
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text">
                                </div>
                            </div>
                        </div>

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
                            <div class="ui-grid-row">
                                <h1>Insurace Information</h1>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Ownership Certificate Number
                            </div>
                            <div class="ui-g-8">
                                <input pInputText type="text">
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Colleteral" rightIcon="pi pi-inbox"
                                tooltip="Colleteral Inforlmation">
                        <h1>Insurance Information</h1>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Collateral Type
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
                            <div class="ui-grid-row">
                                <h1>Automotive</h1>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Brand
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Type
                                </div>
                                <div class="ui-g-6 row">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Model
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Manufacturing Date
                                </div>
                                <div class="ui-g-6">
                                    <p-calendar [(ngModel)]="manufacDate"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Chassis Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Machine Number
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Colour
                            </div>
                            <div class="ui-g-6">
                                <input pInputText type="text">
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Ownership Certificate Number
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text">
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Price
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text">
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Document" rightIcon="pi pi-inbox"
                                tooltip="Document Inforlmation">
                        <h1>Document Information</h1>
                        <div class="ui-g">
                            <div class="ui-g-3">Identity Document</div>
                            <div class="ui-g-1">
                                <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
                            </div>
                            <div class="ui-g-2">
                                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="file_extension/*"
                                              maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-3">Family Card Document</div>
                            <div class="ui-g-1">
                                <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
                            </div>
                            <div class="ui-g-2">
                                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="file_extension/*"
                                              maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-3">Back Statement Book</div>
                            <div class="ui-g-1">
                                <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
                            </div>
                            <div class="ui-g-2">
                                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="file_extension/*"
                                              maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-3">Ellectonic Bill</div>
                            <div class="ui-g-1">
                                <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
                            </div>
                            <div class="ui-g-2">
                                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="file_extension/*"
                                              maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-3">Credit Card Bill</div>
                            <div class="ui-g-1">
                                <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
                            </div>
                            <div class="ui-g-2">
                                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="file_extension/*"
                                              maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-3">PBB Bill</div>
                            <div class="ui-g-1">
                                <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
                            </div>
                            <div class="ui-g-2">
                                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="file_extension/*"
                                              maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Credit Structur" rightIcon="pi pi-inbox"
                                tooltip="Ciredit Structur">
                        <h1>Document Information</h1>

                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Term Of Payment
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                Installment Type
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                            [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Period Installment
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Collection Payment
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-g-4">
                                    Total Price
                                </div>
                                <div class="ui-g-6">
                                    <input pInputText type="text"/>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>


                </p-tabView>
            </div>
        </div>
    </div>
</div>
