/* You can add global styles to this file, and also import other style files */
body .ui-widget-content {
    border: 0px solid #dddddd;
}

.ui-tieredmenu .ui-submenu-list {
    width: 13.5em;
}
//body .ui-button {
//    color: #ffffff;
//    background-color: #146fd7;
//    border: 1px solid transparent;
//}
.ui-tieredmenu {
    width: 14.5em;
    //padding: .25em;
}
body a:hover {
    color: #ffffff;
}

body a {
    color: #ffffff;
    text-decoration: none;
}


